@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swa");

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .4 ease-in;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-decoration: none;
}

header {
    height: 100px;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 69px;
    border-bottom: 5px solid #757575;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    max-width: 100%;
    width: 40px;
    height: auto;
}

.logo .text-logo{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-items a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: border-bottom 0.5 ease-in;
}

.nav-items a:hover {
    border-bottom: 3px solid #A551FB;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-buttons a{
    font-size: 20px;
    text-decoration: none;
} 

.nav-buttons a.sign-in {
    color: #A551FB;
}

.nav-buttons a.sign-in:hover {
    color: #8a4acb;
}

.nav-buttons a.sign-up {
    background: #A551FB;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}

.nav-buttons a.sign-up:hover {
    background: #8a4acb;
}

.home {
    background: #261C31;
    position: relative;
}

.home img{
    position: absolute;
    max-width: 100%;
    width: 15px;
    height: auto;
}

.home img.top-left{
    top: 78px;
    left: 37px;
}

.home img.top-center{
    top: 23px;
    right: 794px;
}

.home img.top-right{
    top: 55px;
    right: 120px;
}

.home img.bottom-left{
    top: 700px;
    left: 32px;
}

.home img.bottom-center-left{
    top: 750px;
    left: 303px;
}

.home img.bottom-right{
    top: 750px;
    right: 470px;
}

.home-items {
    background: url('../images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 126px;
}

.home-items .drive {
    color: #F7F8FF;
    text-align: center;
    font-size: 76px;
    font-weight: 700;
    line-height: 98.8px;
    margin-bottom: 20px;
}

.home-items .digital {
    color: #A551FB;
    text-align: center;
    font-size: 76px;
    font-weight: 700;
    line-height: 98.8px;
}

.home-items p{
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 600;
    margin: 50px 256px;
}

.home-search{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.search{
    position: relative;
    width: 700px;
}

.search input{
    margin-top: 20px;
    outline: none;
    width: 100%;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 20px;
}

.search .search-icon{
    background: #A551FB;
    border-radius: 18px;
    color: #fff;
    line-height: 30px;
    padding: 10px 25px;
    position: absolute;
    font-size: 30px;
    top: 30px;
    right: 20px;
}

.search .search-icon:hover{
    background: #8a4acb;
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-buttons .start-now{
    text-decoration: none;
    font-size: 16px;
    padding: 25px 50px;
    color: #fff;
    background: #A551FB;
    border-radius: 20px;
    margin-bottom: 50px;
}

.home-buttons .learn-more{
    text-decoration: none;
    font-size: 16px;
    padding: 25px 50px;
    color: #fff;
    background: #261C31;
    border-radius: 20px;
    border: 2px solid #A551FB;
    margin-bottom: 50px;
}

.companies{
    background: #FAE9D2;
    padding: 31px 130px;
}

.company-items{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    align-items: center;
    justify-items: center;
    gap: 40px;
    padding: 30px 80px;
}

.company-items a img{
    max-width: 100%;
    width: 150px;
    height: auto;
}

.trusted{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted p{
    font-size: 30px;
    line-height: 33.6px;
}